@import "../app";
.photos-wrapper {
  @include display-flex;
  background-color: whitesmoke;
  justify-content: start;
  align-items: start;
  padding: 150px 0;
}
.wrapper-photos-items {
  @include display-block;
  background-color: #f5f5f5;
  width: 100%;
}
.photos-p1 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 30px;
}
.photos-p2{
  padding-bottom: 30px;
}
.photos-p3-number{
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0;
}
.photos-p3-link{
  color: limegreen;
  text-decoration: none;
  &:hover{
    color: limegreen;
    text-decoration: underline;
  }
}
.photos-items-left{
  @include display-block;
  align-items: start;
  justify-content: space-evenly;
  text-align: start;
  width: 30%;
}
.photos-items-right {
  @include display-block;
}
.photos-wrapper-images {
  @include display-flex;
}
.photos {
  width: 33%;
  height: 12rem;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-top: 10px;
}
@media screen and (max-width: 770px){
.photos-wrapper{
  display: block;
}
  .photos-items-left{
    width: 100%;
  }
  .photos-wrapper-images{
    display: block;
  }
  .photos{
    width: 100%;
  }
}