@import "../app";
.header-img {
  width: 13%;
  height: 100%;
}
.header{
  @include display-block;
  background-color: purple;




}
.img-wrapper {
@include display-flex;
  justify-content: space-around;
}
.aurora-wrapper{
  @include display-flex;
  font-size: 35px;
  color: white;
}
.second-lvl {
  @include display-block;
  display: block;
}
.ul-wrapper {
@include display-flex;
  width: auto;
}
.ul{
  @include display-flex;
  margin-bottom: 0;
  list-style: none;


.first-lvl {
  padding: 20px 50px 20px 0;
  color: white;
  @include display-block;
  text-align: start;
  &:nth-child(4){
    .first-lvl-item{

      .bi-chevron-compact-down{
        display: none;

      }
    }
  }
  &:nth-child(1){
    .first-lvl-item{
      color: limegreen;
    }
  }
}
  .first-lvl {
    padding: 20px 50px 20px 0;
    color: white;

  }

}
.bi-chevron-compact-down {
  padding-left: 10px;
  font-size: 10px;

}

.second-lvl{
  padding: 0;
  text-align: start;
}
.first-lvl-item{
  @include display-flex;
  position: relative;
  &:hover{
    cursor: pointer;
    color: limegreen;
  }

}
.second-lvl-wrapper1{
@include display-block;
  justify-content: start;
  text-align: start;
  color: white;

}
.second-lvl{
  background-color: gray;
  border-bottom: 1px solid darkgray;
  opacity: 0.3;
  @include display-flex;


}
.first-lvl:nth-child(1){
  .second-lvl-wrapper {
    .second-lvl:nth-child(1){
      opacity: 0.8;
      background-color: white;
      .second-lvl-item1 {
        padding-left: 10px;
      }
      .bi-chevron-compact-right{
        visibility: visible;
        padding-left: 10px;
      }

    }
  }
}
.bi-chevron-compact-right {
  font-size: 10px;
  visibility: hidden;
  transition: 300ms ease;

}


.second-lvl {
  justify-content: space-evenly;
}

.second-lvl-item1 {
  padding-left: 5px;
  transition: 300ms ease-in-out;
}

.burger{
  background-color: white;
  width: 20px;
  height: 20px;
}
.one-b{
  display: none;
}
.two-b{
  display: block;
}
.second-lvl1 {
  @include display-block;
  width: fit-content;
}
.first-lvl1 {
@include display-block;
  width: fit-content;
}
.burger-wrapper{
  @include display-block;
  background-color: purple;

}
.ul-list-burger{
  @include display-block;
  margin: 0;
}
.first-lvl1-item-name{
  color: white;
  margin-bottom: 0;
  text-align: start;
  &:hover {
    color: limegreen;
    cursor: pointer;
  }
}
.first-lvl1:nth-child(4){
   .first-lvl1-item-name{
       color: limegreen;

   }
}
.second-lvl1{
  &:hover{
    color: limegreen;
  }
}
.second-lvl-wrapper1{
  padding-left: 0;
}
.second-lvl-wrapper1{
  padding-left: 20px;
}